/* Variable */

@import url("https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

:root {
  --background: linear-gradient(to bottom, #d98c4f, #c56cc5);
  --color-background-header-footer: rgba(217, 140, 79, 1);
  --color-text-ul: rgba(236, 199, 70, 1);
  --color-tilte: rgba(155, 51, 86, 1);
}

.ligne-p {
  font-family: "madimi one";
}

/* ACCUEIL */

.accueiltitle {
  font-size: 160px;
  font-weight: bold;
  margin: 67px 0 0 0;
}
@media screen and (max-width: 767px) {
  .accueiltitle {
    font-size: 80px;
  }
}

.imgaccueil {
  width: 1fr;
  height: auto;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin: 2em;
}
.imgaccueil:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 767px) {
  .imgaccueil {
    width: 450px;
    height: auto;
  }
}

.buttonjouer {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  width: 15rem;
  height: 7rem;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 0 120px 0;
  background: none;
  border-radius: 20%;
  border: solid 5px black;
  font-family: "madimi one";
}
@media screen and (max-width: 767px) {
  .buttonjouer {
    width: 18rem;
    font-size: 3.5rem;
  }
}

button:hover {
  transform: scale(1.1);
}

.midacceuil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: center;
  margin-top: 50px;
}

/*  GENERAL */

* {
  box-sizing: border-box;
  line-height: 1.5;
}

footer {
  /*background-color: var(--color-background-header-footer);*/
  background: linear-gradient(to bottom, #c56cc5, #4b0082);
  /* box-shadow: inset 0 -3em 3em var(--color-background-header-footer),
    0 0 0 2px var(--color-background-header-footer),
    0.3em 0.3em 1em var(--color-background-header-footer);*/
}

/* BODY */

body {
  margin: 0;
  justify-content: space-between;
  background-color: var(--color-background-page);
  background: linear-gradient(to bottom, #d98c4f, #c56cc5);

  margin: 0;
}

/*  HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  background: linear-gradient(to bottom, #4b0082, #d98c4f);

  img {
    width: 10rem;
  }

  @media screen and (min-width: 768px) {
    header {
      justify-content: space-around;
    }
    img {
      width: 20rem;
    }
  }
}

/* BURGER */

/* Sidenav menu */
.sidenav {
  height: 7.2rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -50rem;
  background-color: #e8e8e8;
  padding-top: 3.7rem;
  transition: left 0.5s ease;
  background: linear-gradient(to bottom, #4b0082, #d98c4f);
  display: flex;
  text-align: center;
}

/* Sidenav menu links */
.sidenav {
  a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-text-ul);
    text-shadow: black -1px 0.5px, black -1px 0.5px, black -1px 0.5px;
    display: inline;
    transition: 0.3s;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}

.sidenav a:hover {
  color: var(--color-background-header-footer);
  cursor: pointer;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2.5rem;
}

/* Icône burger */

.burger-icon {
  margin-right: 4.5rem;

  span {
    display: block;
    width: 3rem;
    height: 4px;
    background-color: var(--color-text-ul);
    border-radius: 2rem;
    box-shadow: 0rem 0rem 0.5rem black;
    margin: 6px 0;
  }
}

/* Media queries burger menu */

@media screen and (min-width: 768px) {
  .sidenav {
    height: auto;
    width: auto;
    position: static;
    z-index: 1;
    top: auto;
    left: auto;
    padding-top: 0;
    transition: auto;
    font-size: 4rem;
    background: none;
  }

  .sidenav a,
  ul,
  li {
    margin-right: 1rem;
  }
  ul {
    background-color: none;
  }

  #closeBtn,
  #openBtn {
    display: none;
  }
}

h1 {
  text-align: center;
  color: var(--color-tilte);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 80px;
  font-weight: 800;
  font-family: "honk";
}

/* Page crédits */

section {
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.block-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.profile {
  width: 60%;
  display: flex;
  filter: drop-shadow(14px 14px 10px #fef9d8);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin: 2em;
}
.profile:hover {
  transform: scale(1.2);
}

h2 {
  color: var(--color-tilte);
}

.ligne-p {
  border-radius: 20px;
  padding: 10px;
  word-spacing: 2px;
  hyphens: auto;
  text-align: center;
  text-indent: 0em;
  text-transform: none;
  color: var(--color-background-page);
  ::before {
    content: "\275D";
    color: var(--color-background-page);
    font-size: 2em;
    line-height: 0;
    margin-right: -0.4em;
    vertical-align: -0.6em;
    opacity: 0.4;
    top: -15px;
    position: relative;
  }
}

span {
  font-weight: bold;
}

/* media queries */

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 2fr;
    grid-gap: 3em;
    padding: 2em;
  }
  #amel {
    margin: 0 1em 0 1em;
  }
  .profile {
    margin: 0;
    width: 85%;
  }
}
/* Page Règles*/

.pancake-img {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin: 2em;
}
.pancake-img:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 300%;
  color: #9b3356;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card {
  width: 80%; /*1*/
  margin: 0px auto; /*2*/
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  flex-shrink: 5;
}

main h1 {
  display: flex;
  justify-content: center;
}

h2 {
  padding: 1em;
  font-weight: 800;
  font-size: 150%;
  color: var(--color-background-page);
  font-weight: 800;
  font-family: "madimi one";
}

.card p {
  margin: 0px;
}

ul {
  color: var(--color-background-page);
  word-spacing: 2px;
  font-family: "madimi one";
}

/* FOOTER */

footer {
  text-align: center;
  font-size: 0.7rem;
  line-height: 1;
  background-color: linear-gradient(to bottom, #4b0082, #d98c4f);
  color: black;
  font-family: "madimi one";
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
  }
}

.cree {
  margin: 0;
  padding: 0;
}
