:root {
  --color-background-page: #fef9d8;
  --color-background-header-footer: rgba(217, 140, 79, 1);
  --color-text-ul: rgba(236, 199, 70, 1);
  --color-tilte: rgba(155, 51, 86, 1);
}

.sidenav {
  height: 100%;
  width: 15.5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -15.5rem;
  background-color: #e8e8e8;
  padding-top: 3.7rem;
  transition: left 0.5s ease;
}

@media screen and (min-width: 768px) {
  .sidenav {
    height: auto;
    width: auto;
    position: static;
    z-index: 1;
    top: auto;
    left: auto;
    background-color: var(--color-background-header-footer);
    padding-top: 0;
    transition: auto;
    font-size: 4rem;
  }
}

p {
  margin: 0;
}

/* Sidenav menu links */
.sidenav {
  a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-text-ul);
    display: block;
    transition: 0.3s;
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }

  ul {
    list-style-type: none;
  }
}

.pan {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 800px;
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.score {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 800px;
  color: black;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sidenav a:hover {
  color: var(--color-background-header-footer);
  cursor: pointer;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 2.5rem;
}

/* Icône burger */

.burger-icon {
  margin-right: 4.5rem;

  span {
    display: block;
    width: 3rem;
    height: 4px;
    background-color: var(--color-text-ul);
    border-radius: 2rem;
    box-shadow: 0rem 0rem 0.5rem black;
    margin: 6px 0;
  }
}

/* Media queries burger menu */

@media screen and (min-width: 768px) {
  .sidenav {
    height: auto;
    width: auto;
    position: static;
    z-index: 1;
    top: auto;
    left: auto;
    background-color: var(--color-background-header-footer);
    padding-top: 0;
    transition: auto;
    font-size: 4rem;
  }

  .sidenav a,
  ul,
  li {
    display: inline;
    margin-right: 1rem;
  }

  #closeBtn,
  #openBtn {
    display: none;
  }
}

h1 {
  text-align: center;
  color: var(--color-tilte);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 80px;
  font-weight: 800;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
}

header,
footer {
  background-color: var(--color-background-header-footer);
}

.foot {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

footer {
  text-align: center;
  font-size: 0.7rem;
  line-height: 1;
  color: var(--color-text-ul);
  text-shadow: black -1px 0.5px, black -1px 0.5px, black -1px 0.5px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
  }
}

/* BODY */

body {
  margin: 0;
  justify-content: space-between;
  background-color: var(--color-background-page);
}

/*  HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;

  img {
    width: 10rem;
  }

  @media screen and (min-width: 768px) {
    header {
      justify-content: space-around;
    }
    img {
      width: 20rem;
    }
  }
}

.Pan {
  font-size: 80px;
  color: #9b3356;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.topmain {
  display: flex;
  text-align: center;
  flex-direction: column;
}
h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

.mainprinc {
  background-color: #d98c4f;
  margin: 0 120px 0 120px;
  border-radius: 20px;
  outline: 5px solid black;
  height: 1100px;
}

@media screen and (max-width: 767px) {
  .mainprinc {
    margin: 0 20px 0 20px;
    width: 350px;
    height: 1250px;
  }
}

button {
  margin: 10px;
  padding: 35px 20px;
  font-size: 28px;
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid #000;
}

@media screen and (max-width: 767px) {
  button {
    font-size: 20px;
    text-align: center;
  }
}

.buttongrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .buttongrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

button.disabled {
  background-color: grey;
  color: rgb(255, 255, 255);
  text-decoration: line-through;
}

@media screen and (max-width: 767px) {
  button.disabled {
    width: 150px;
  }
}

button.enabled:hover {
  transform: scale(1.1);
  text-decoration: none;
}

button.enabled-animation {
  animation: pulse 0.5s infinite alternate;
  text-decoration: none;
}

.green-text {
  color: green;
}

.pck {
  width: 600px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .pck {
    width: 250px;
    height: auto;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#score {
  color: #784fa1;
  font-size: 55px;
  margin-bottom: 20px;
  font-weight: 800;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black, inset 2px 2px 3px rgba(0, 0, 0, 0.8);
}

#click img {
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
}

.flex {
  display: flex;
  justify-content: center;
}

#click.grow {
  transform: scale(1.1);
}

#click.move {
  animation: move 0.5s ease;
}

.plusOne {
  position: absolute;
  color: orange;
  font-size: 24px;
  animation: plusOneAnimation 1s ease-out;
  pointer-events: none;
  cursor: default;
}

@keyframes plusOneAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

#grow {
  animation: growAnimation 0.2s ease-in-out;
}

@keyframes growAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

#particlesContainer {
  position: absolute;
}

.particle {
  position: absolute;
  width: 20px;
  height: 20px;
  transition: opacity 1s linear;
}

@keyframes particleMove {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px) translateX(200px);
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  16.666% {
    color: orange;
  }
  33.333% {
    color: yellow;
  }
  50% {
    color: green;
  }
  66.666% {
    color: blue;
  }
  83.333% {
    color: indigo;
  }
  100% {
    color: violet;
  }
}

.rainbow-text {
  animation: rainbow 1s linear infinite;
  font-weight: normal;
  color: initial;
}

.rainbow-image {
  animation: rainbow-animation 0.5s infinite alternate;
}

@keyframes rainbow-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.blinking {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggleSoundButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 9999;
}

#soundIcon {
  width: 30px;
  height: 30px;
}

#volumeSliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  padding: 10px 0 200px 0;
}

#volumeIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 100%;
  }
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  height: 600px;
}

@media screen and (max-width: 767px) {
  .popup-content {
    width: 300px;
    height: 400px;
  }
}

.closepopup {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.popup-text {
  text-align: center;
}

.textpop {
  font-size: 40px;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .textpop {
    font-size: 20px;
  }
}

.black-and-white {
  filter: grayscale(100%);
}

@keyframes scrollDrip {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.dripping-effect {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
  overflow: hidden;
  animation: scrollDrip 10s linear infinite;
}

@keyframes dripping-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
